body {
    background-color:black
}

h1 {

color: rgb(225, 232, 225);
text-align: center;
border-bottom: 2px solid rgb(80, 35, 35);
background-color: rgb(0, 0, 0);
border-radius: 10px;
}

iframe {
    border-radius: 25px;
    border: 4px solid blue;
}
p {
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
}
.textfeld {
    width: 80%;
    height: 200px;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: blue;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
h2 {
    color: white
}