body {
    background-color:lightgrey;
}

h1 {

color: green;
text-align: center;
border-bottom: 2px solid black;
background-color: darkgrey;
border-radius: 10px;
}

.video-iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: 315px;
    border: none;
    border-radius: 3px;
}