body {
    background-color:lightgrey;
}

h1 {

color: green;
text-align: center;
border-bottom: 2px solid black;
background-color: darkgrey;
border-radius: 10px;
}

iframe {
    border-radius: 25px;
    border: 4px solid blue;
}
p {
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
}
.textfeld {
    width: 80%;
    height: 200px;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    resize: vertical;
}